GoogleSheetsETL.json
{
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -320
      ],
      "id": "5a051bb0-39b8-4ac7-8c79-ec349222d481",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "Email_Normalized",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        800,
        -416
      ],
      "id": "5790f4e2-35df-4151-bf33-a4c49dd15d40",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -512
      ],
      "id": "8f857322-9e89-41c0-a545-cecec6cac8c3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Email_Normalized"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FullName_Normalized",
              "displayName": "FullName_Normalized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Normalized",
              "displayName": "Email_Normalized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone_Number_Normalized",
              "displayName": "Phone_Number_Normalized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        -416
      ],
      "id": "59e59da9-8e84-40ce-bbc4-447a2b101a29",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9fc2ee84-0fbf-4f16-be07-7bf24a7c8e3b",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "number"
            },
            {
              "id": "89555854-f692-48d0-961d-1f297809e040",
              "name": "FullName_Normalized",
              "value": "={{ String($json[\"Full Name\"] ?? \"\").trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "47d253b7-17c6-42f7-b454-68e290a8d0c3",
              "name": "Email_Normalized",
              "value": "={{ String($json.Email ?? \"\").trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "64be6f77-2110-4013-8f9a-01b0f253461f",
              "name": "Phone_Number_Normalized",
              "value": "={{ String($json[\"Phone Number\"] ?? \"\").replace(/\\D/g, \"\") }}",
              "type": "string"
            },
            {
              "id": "a6983d5b-9483-40ed-a0ec-bd692ef7b22e",
              "name": "Country",
              "value": "={{ $json.Country }}",
              "type": "string"
            },
            {
              "id": "78be3b0f-c877-4aa4-baf8-2121a0b37f6e",
              "name": "State",
              "value": "={{ $json.State }}",
              "type": "string"
            },
            {
              "id": "e8a438a7-9a51-4d39-923f-5cf8a5fabf3a",
              "name": "City",
              "value": "={{ $json.City }}",
              "type": "string"
            },
            {
              "id": "a6535d7e-b5b1-4b97-8055-2bf2f33beb1d",
              "name": "Qualification",
              "value": "={{ $json.Qualification }}",
              "type": "string"
            },
            {
              "id": "88189565-3022-4aed-8c15-2dea196fc737",
              "name": "Priority",
              "value": "={{ $json.Priority }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -416
      ],
      "id": "061f4723-de13-4246-93c2-cf25c876b821",
      "name": "Map and ETL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "757399db-f9d4-4189-9a51-3d3a8adeb35d",
              "name": "Date",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -416
      ],
      "id": "01c4ef22-1e2f-489b-8a83-8deb91ad88a2",
      "name": "Add Date"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -320
      ],
      "id": "274e55b9-4859-4ead-a7f8-e27af4231e19",
      "name": "On Row Updated",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "includeInOutput": "both",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -128
      ],
      "id": "69509bc1-5101-4acc-bd7c-480da7d32b48",
      "name": "On Row Added",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8a8483ad-b3ab-459c-a2bb-1c9c3c738c5a",
              "leftValue": "={{ $json.ID }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "168bab19-098d-4837-b761-4c92f1b73750",
              "leftValue": "={{ $json[\"Full Name\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "64a302b5-68d2-46ec-9b92-88186de34012",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "829fe175-bf3a-4abb-9a2a-d0819b21113c",
              "leftValue": "={{ $json[\"Phone Number\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        -320
      ],
      "id": "883e11f3-3859-4309-8285-03f992e27025",
      "name": "Validate Required Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29c2b45c-2276-4a4b-a041-247e69f143f7",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "number"
            },
            {
              "id": "50b74a5d-74cb-4568-845a-ad1fd9858ca2",
              "name": "Error_Reason",
              "value": "={{   [     !String($json[\"Full Name\"] ?? \"\").trim()       ? \"Missing Full Name\"       : null,      !String($json[\"Email\"] ?? \"\").trim()       ? \"Missing Email\"       : null,      !String($json[\"Phone Number\"] ?? \"\").trim()       ? \"Missing Phone Number\"       : null   ]     .filter(Boolean)     .join(\"; \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -224
      ],
      "id": "583d60da-c957-47fe-9f49-8a3e0aae6f7b",
      "name": "Error Reason"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        -224
      ],
      "id": "d1eb88a0-69d4-42de-bb07-bb73dea5f6a8",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Add Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map and ETL": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Date": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Row Updated": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Row Added": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Map and ETL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Reason": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4d44fcae95dedb968b236e17853752e1ffae4c73899a9339628bbc1b85e65e8"
  }
}
